apiVersion: os-auth.janpuc.com/v1alpha1
kind: Credentials
metadata:
  name: os-auth
spec:
  username: {{ onepasswordRead "op://Chezmoi/openshift/username" }}
  password: {{ onepasswordRead "op://Chezmoi/openshift/password" }}
