apiVersion: os-auth.janpuc.com/v1alpha1
kind: Credentials
metadata:
  name: os-auth
spec:
  username: {{ onepasswordRead "op://Work/OpenShift/username" }}
  password: {{ onepasswordRead "op://Work/OpenShift/password" }}
