env:
  BREW_PATH: "/opt/homebrew/bin/brew"
hooks:
  read-source-state:
    pre:
      command: ".local/share/chezmoi/.hooks/.install-op.sh"
# TODO: Fix PATH var
onepassword:
  command:".local/bin/op"
